sunsurfers:
    image: eigrad/sunsurfers-backend
    links:
    - postgres
    ports:
    - 8000:8000
    environment:
        POSTGRES_HOST: postgres
        POSTGRES_USER: www-data
        POSTGRES_PASSWORD: ''

postgres:
    image: mdillon/postgis
    environment:
        POSTGRES_DB: sunsurfers
        POSTGRES_USER: www-data
        POSTGRES_PASSWORD: ''
